.header {
  background: rgb(117, 117, 148);
  position: sticky;
  top: 0;
}

.topBarWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px 0px 10px;
  padding: 10px;
}

.Left {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBarWrapper input {
  padding: 7px;
  font-size: 1rem;
  outline: none;
  width: 100%;
  /* background: white; */
}

.Left ul li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid red;
  width: 70px;
}

.search {
  display: flex;
  width: 400px;
  /* border: 1px solid white; */
}

.menu {
  display: none;
}

.fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 960px) {
  .Left ul {
    display: none;
  }

  .Left ul li {
    display: block;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 640px) {
}
